@charset "UTF-8";

/*-----ESTILOS PARA PAGINAS----------*/


*{
    margin: 0;
    padding: 0;
}

html{
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
}
header{
    background-color: #4adbdb;
}

header h1{
    text-align: center;
}
menu ul {
    list-style-type: none;
    background-color: darkslategrey;
}
menu ul li{
    display: inline-block;
    background-color: rgb(2, 64, 83);
    padding: 10px;
    color: aliceblue;
}
article{
    width: 70%;
    margin: auto;
}
